Hey

<video autoplay muted loop>
  <source src="../../../../uploads/movies/madmax.mp4" type="video/mp4">
</video>
<!-- <div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i>
  </div>
</div>
<div class="preloader-left"></div>
<div class="content-home">
  <div class="image-overlay opacity"></div>
  <div class="container">
      <div class="name-block">
          <div class="name-block-container">
              <h1>NorthKino</h1>
          </div>
      </div>
      <div class="menu-blocks">
          <div class="contact-block menu-block">
              <div class="contact-block-container">
                  <a href="" title="Contact"><h2 class="contact menu-item">Contact</h2></a>
              </div>
          </div>
          <div class="movies-block menu-block">
              <div class="movies-block-container">
                  <a href="movies.html" title="Movies"><h2 class="movies menu-item">Movies</h2></a>
              </div>
          </div>
          <div class="cities-block menu-block">
              <div class="cities-block-container">
                  <a href="" title="Cities"><h2 class="cities-block-menu menu-item">Cities</h2></a>
              </div>
          </div>
          <div class="signup-block menu-block">
              <div class="signup-block-container">
                  <a href="" title="Signup"><h2 class="signup menu-item">Signup</h2></a>
              </div>
          </div>
      </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="asset/script.js"></script>
 -->
